@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

/* common css */
body{
  background-color: #edeff4;
  font-family: 'SolaimanLipi', sans-serif !important;
}

.primary-color{
  color: #35b2e8;
}
.secondary-color{
  color: #ca2f2f;
}
.primary-background-color{
  background-color: #35b2e8;
}
.secondary-background-color{
  background-color: #ca2f2f;
}

img{
  transition: all .6s ease-in-out;
}




.small-card:hover img{
  transform: scale(1.1);
}
.large-home-card:hover img{
  transform: scale(1.1);
}
.large-home-card:hover h1{
  color: skyblue;
}